<!--The main call for the page-->
@page "/waitermenu"
<!--We will also inject two global services so that we can access them-->
<!--The HttpClient is used for accessing the WebService-->
@inject HttpClient http
<!--The NavigationManager is used for changing pages-->
@inject NavigationManager myNavigationManager
<!--The TimerService will instantiate a page timer: used for retrieving data from the server side-->
@inject Services.TimerService localTimer
<!--The main Style for the Page-->
<style>
    body {
        /*We initiali set the bakgroundImage for the page*/
        background-image: @Miscellaneous.SetBackgroundImage();
        /*We then set the width of the image to 100% of the page*/
        background-size: 100%;
        /*And finally set the foreground color of the page*/
        color:@Miscellaneous.SetForegroundColor();
        padding-bottom: 20px;
    }
</style>

<CascadingValue Value="PageController">
    @switch (PageController.PageState)
    {
        case ObjectStructures.Enumerators.Enumerators.PageState.waitingForLogin:
            {
                <div class="center-screen">
                    <WaiterLogin Waiter="PageController.Waiter" />
                </div>
                break;
            }
        case ObjectStructures.Enumerators.Enumerators.PageState.tableMenu:
            {
                <div class="center-screen">
                    <WaiterTables />
                </div>
                break;
            }
    }
</CascadingValue>