<!--The caller for the page-->
@page "/endmessage"

<!--The main Style for the Page-->
<style>
    body {
        /*We initiali set the bakgroundImage for the page*/
        background-image: @Miscellaneous.SetBackgroundImage();
        /*We then set the width of the image to 100% of the page*/
        background-size: 100%;
        /*And finally set the foreground color of the page*/
        color:@Miscellaneous.SetForegroundColor();
    }
</style>

<!--The Main Message for the form-->
<h3 style="font-family:'Brush Script MT'">Comanda dumneavoastra a fost plasata.</h3>
<h3 style="font-family:'Brush Script MT'">Va multumim.</h3>
