<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>C:\inetpub\wwwroot\wsbergenbier</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/FirebirdSql.Data.FirebirdClient.dll">
      <publishTime>05/24/2012 14:14:28</publishTime>
    </File>
    <File Include="bin/FirebirdSql.Data.FirebirdClient.pdb">
      <publishTime>05/24/2012 14:14:28</publishTime>
    </File>
    <File Include="bin/WebServicePOS.dll">
      <publishTime>06/16/2012 09:52:45</publishTime>
    </File>
    <File Include="bin/WebServicePOS.pdb">
      <publishTime>06/16/2012 09:52:45</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>06/15/2012 19:39:47</publishTime>
    </File>
    <File Include="WS.asmx">
      <publishTime>06/02/2012 12:16:49</publishTime>
    </File>
  </ItemGroup>
</Project>